<form action="/add" method="post">
  <input type="text" name="url" />
  <input type="submit" value="Submit" />
</form>
<form action="/bookmark">
  <input type="submit" value="View Bookmarks" id="bookmarks_button">
</form>